{% extends "account/account_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block account_content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 mt-3 offset-md-1">
      <h2>{% trans "Sign Up" %}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mt-3 offset-md-1">
      <form class="auth_form" id="signup_form" method="post"
        action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-auth right" type="submit">
          {% trans "Sign Up" %} &raquo;</button>
      </form>
      <p>{% blocktrans %}
        You have an account? <a class="link" href="{{ login_url }}">Sign in</a>
        instead.
      {% endblocktrans %}</p>
    </div>
  </div>
</div>

{% endblock %}