{% extends "base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.is_staff %}
		<div id="schedule">
            <div>
                
            <div id="schedule-container" class="container">
        </div>
            </div>
            <div id="schedule-buttons">
                <button id="previous" class="btn">
                    Previous
                </button>
                <button id="next" class=btn>
                    Next
                </button>
            </div>
        </div>
        <div id="edit-schedule">
    
        {% if user.is_superuser %}
            <form id="scheduleForm" method="post" action="{% url 'schedule'%}">
                {% csrf_token %}
                <div>
                    <div>
                         <select id="employee-name" name="user" class="long-input">
                        </select>
                    </div>
                    <div>
                        <label for="shift-date">Date: </label>
                        </br>
                        <input class="long-input" type="date" id="shift-date" name="date">
                    </div>
                    <div>
                        <label for="shift-start">Shift: </label>
                        </br>
                        <div class="shift-div">
                            <input class="shift" type="time" id="shift-start" name="begin_of_work_1">
                            <label for="shift-end">-</label>
                            <input class="shift" type="time" id="shift-end" name="end_of_work_1">
                        </div>
                    </div>
                    <div>
                        <label for="shift-start-2">2nd Shift: </label>
                        </br>
                        <div class="shift-div">
                            <input class="shift" type="time" id="shift-start-2" name="begin_of_work_2">
                            <label for="shift-end-2">-</label>
                            <input class="shift" type="time" id="shift-end-2" name="end_of_work_2">
                        </div>
                    </div>
                </div>
                <div id="quick-options">
                    <div>
                        <input type="radio" id="vacation" name="vacation">
                        <label for="employee-name">Vacation: </label>
                    </div>
                    <div>
                        <input type="radio" id="sick" name="sick">
                        <label for="employee-name">Sick: </label>
                    </div>
                </div>
            
                <div id="submit-schedule-div">
                    <button id="edit-schedule-btn" class="btn" type="submit">Edit</button>
                    <button id="delete-schedule" class="btn" type="button">Delete</button>
                </div>
            </form>
        <script id="users-data" type="application/json">
            {{users|safe}}
        </script> 
        <script id="schedule-data" type="application/json">
            {{ schedules|safe }}
        </script>
    {% endif %}
        </div>
        <div id="chat">
            <div id="read-and-write">
                <div id="read">
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>One longer test text to see what happends if it goes in to two row.</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>One longer test text to see what happends if it goes in to two row.</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                    <br>
                    <div class=text-bubble>
                        <p>Just a text for test!</p>
                    </div>
                </div>
                <div id="write">
                    <p>Typing test...<p>
                </div>
            </div>
            <div id="send-message-div">
                <button id="send-message" class="btn">Send</button>
            </div>
        </div>
        <script src="{% static 'js/script.js' %}"></script>
    {% else %}
    <div id="account-container">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mt-3 offset-md-2">
                        <h3>Your account haven't been confirmed yet.</h3>
                     </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% else %}
<div id="account-container">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mt-3 offset-md-2">
                    <h3>Wellcome!</h3>
                    <p>Work Schedule the best way to write and read the schedule.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mt-3 offset-md-2">

                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-auth right" type="submit">Log In</button>
                    </form>
                    <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-auth right" type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

    {% endblock %}