/* Background-colors */
body, #schedule, #read, #write{
	background-color: #EEEEFF;
}

header, footer, #account-container > div, .btn, .text-bubble{
	background-color: #5AAEFF;
}

#edit-schedule, .btn-auth{
	background-color: #FFAB5A;
}

/* Colors */
p, h1, h3, #log-out, #account-container a, .btn, .text-bubble{
	color: #EEEEFF;
}

/* General__________________________________________________ */

label{
	margin: 3px 1px;
}

.btn{
	margin: 10px;

	border-radius: 50px;
}

/* Sections_________________________________________________ */
/* Header */
header{
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1{
	margin: 0;
	padding: 5px;
}

/* Main */
main{
	min-height: 84vh;
	width: 100vw;
}

/* Footer */
footer{
	height: 6vh;
}

/* Home page */
/* Schedule div */
#schedule{
	padding:15px 0;
}

#schedule-buttons{
	display: flex;
 	justify-content: space-around;
}

#schedule-container{
	justify-self: auto;
	margin: 0;
	padding: 0;
	width: auto;
}

#schedule-container > .row{
	width: 100vw;
}

#schedule-container > .row > .col{
	border: 1px solid black;

	height: 30px;
	width: 12.5vw;

	text-align: center;
	padding: 6px;
}

.first-col{
	border-top: 0;
}

.last-col{
	border-bottom: 0;
}

#schedule-buttons{
	margin-top: 15px;
}

/* Edit-schedule div */
form{
	display: flex;
	flex-direction: column;
}
form > div{
	margin:15px;
	width:35%;
}

#submit-schedule{
	width:100%;
}

/* Chat div */

#chat{
	margin: 15px;
}

#read{
	overflow: hidden;
}

.text-bubble{
	margin: 1px 4px;

	display: inline-block;
	border-radius: 10px;
}

.text-bubble > p{
	margin: 0px;
	padding: 4px;
}

#write{
	border-top: 1px solid grey;
}

#send-message-div{
	display: flex;
	justify-content: right;
}

/* Authentication pages */

#account-container {
  width: 100%;
}

#account-container h3{
	margin-top:30px;
}

.auth_form{
	margin:40px 0;
}

.auth_form > p{
	margin-bottom: 20px;

	display: flex;
	justify-content: space-between;
}

#id_remember{
	width: 25px;
}

.auth_form > p > input{
	width: 65%;
}

.auth_form > ul, .helptext{
    display: none;
}

	/* Login page */
#login-form-div{
	display: flex;
}

	/* Logout page */
#log-out-confirmation{
	margin-top:40px;
}

#log-out-buttons{
	display: flex;
}

#log-out-buttons > a{
	width: 0;
}

#log-out-buttons button{
	width: 100px;
}



/* Media query______________________________________________ */
@media screen and (min-width: 1024px){
	/* Background-Colors*/
	#edit-schedule, #chat{
		background-color: #FFAB5A;
	}
/* Sections_________________________________________________ */
	/* Header */
	header{
		height: 10vh;
	}

	/* Main */
	main{
		display: flex;
	}

	/* Schedule div */
	#schedule{
		order: 1;

		width: 60vw;
		min-height: 85vh;
	}

	#schedule-container{
		padding: 30px;
	}

	#schedule-container > .row{
		width: 56vw;
	}

	#schedule-container > .row > .col{
		width: 6vw;
	}

	/* Edit-schedule div */
	#edit-schedule{
		order: 0;

		width: 20vw;
		height: auto;

		display: flex;
		align-items: center;
	}

	#edit-schedule-form > div {
	  width: 70%;
	}

	#edit-schedule-form input[type=text],#edit-schedule-form input[type=date]{
		border-radius: 8px;
		width: 14vw;
	}

	.first-col{
		border-top: 1px solid black;
	}

	.last-col{
		border-bottom: 1px solid black;
	}

	#submit-schedule-div{
		display: flex;
		justify-content: right;
	}

	/* Chat div */
	#chat{
		order: 2;
		margin: 0;

		width: 20vw;
		height: auto;
	}

	#read-and-write{
		margin: 2vh 15px;
	}

	#read{
		height: 56vh;
	}
	#write{
		height: 10vh;
	}

	#send-message-div{
		margin: 2vh 15px;

		display:flex;
		justify-content: right;
	}
/* Authentication pages*/
	#account-container{
		height: 84vh;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#account-container > div{
		height: 80%;
		width: 40%;

		border-radius: 15px;
	}

}